{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div id="top">
        <div id="header">
            <h1><span>Armando foto+blogas</span></h1>
        </div>

        <div id="menu">
            <a href="{% url blogapp.views.homepage %}">{% trans "Home" %}</a>
            <a href="{% url blogapp.views.page_by_name "apie" %}">Apie</a>
            <!--a href="/galerija/">Foto</a-->
            <a href="http://feeds.feedburner.com/armandas">RSS</a>

        </div>
        <hr class="hidden">
    </div>

    <div id="wrapper">
        <div id="container">
            <div id="content">
                {% include "contents.html" %}
                {% if pages %}
                    {% include "page.html" %}
                {% endif %}

                {% block source %}{% endblock %}
            </div>

            <div id="sidebar">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
    <hr class="hidden">
{% endblock %}
