{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div id="top">
        <div id="header">
        <h1><span><a style="color: white;" href="http://www.armandas.lt/" rel="me">{{ options.blog_title }}</a></span></h1>
        </div>

        <ul id="menu">
            <!--li><a href="{% url blogapp.views.homepage %}">{% trans "Home" %}</a></li-->
            <li><a href="{% url blogapp.views.page_by_name "apie" %}">Apie</a></li>
            <li><a href="http://feeds.feedburner.com/armandas">RSS</a></li>
            <li><a href="http://projects.armandas.lt">English</a></li>
        </ul>
        <hr class="hidden">
    </div>

    <div id="wrapper">
        <div id="container">
            <div id="content">
                {% include "contents.html" %}
                {% if pages %}
                    {% include "page.html" %}
                {% endif %}

                {% block source %}{% endblock %}
            </div>

            <div id="sidebar">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
    <hr class="hidden">
{% endblock %}
