{% load filters %}
{% load i18n %}
    <h3 id="comments_title"{% if photo%} onclick="toggleComments()"{% endif %}><a name="comments">{{ comments.count|dgs:"Komentarai" }}</a></h3>
    <div id="comments">
        {% for comment in comments %}
        <hr class="hidden">
        <div class="comment">
            <div class="name">
                <img src="{{ comment.author_email|gravatar }}" alt="{{ comment.author_name }}">
                <h4>{% if comment.author_website %}<a href="{{ comment.author_website }}">{{ comment.author_name|safe }}</a>{% else %}{{ comment.author_name|safe }}{% endif %}</h4>
                <small class="date"><em>{{ comment.date|date:"Y-m-d, H:i" }}</em></small>
            </div>
            <div class="text">
                {% autoescape off %}<p>{{ comment.content|urlize|nl2br }}</p>{% endautoescape %}
            </div>
        </div>
        {% endfor %}
        <hr class="hidden">

        <form method="POST" action="" id="comment_form">
            {% for field in comment_form %}
                <p><label>{{ field.label }}{% if field.field.required %} <em>*</em>{% endif %}<br>{{ field }}</label></p>
            {% endfor %}
            <p><input type="submit" name="post" value="{% trans "Post comment" %}"></p>
        </form>
        <hr class="hidden">
    </div>