{% load filters %}
{% load i18n %}
            <h3>Paieška</h3>
            <form action="http://www.google.com/cse" id="cse-search-box">
                <div>
                    <input type="hidden" name="cx" value="015537480257906970513:vlorie8a_eo">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="text" name="q">
                    <input type="submit" name="sa" value="Paieška">
                </div>
            </form>

            {% if friends %}
            <!--h3>{% trans "Blogroll" %}</h3>
                <ul>
                <li><a href="http://dabasinskas.net/" rel="friend">Tomas</a></li>
                </ul-->

            <h3>Rekomenduoju</h3>
                <ul>
                    <li><a href="http://www.armandas.lt/blogai-elektronikos-tematika.html">Blogai elektronikos tema</a></li>
                </ul>
            {% endif %}

            {% if tags %}
            <h3>{% trans "Tags" %}</h3>
                <p style="text-align: center">
                {% for tag in tags %}
                    <a href="{{ tag.uri }}" rel="tag" style="font-size: {{ tag.size }}px" title="{{ tag.title }} ({{ tag.post_count }})">{{ tag.name }}</a>
                {% endfor %}
                </p>
            {% endif %}

            {% if archives %}
            <h3>{% trans "Archives" %}</h3>
                <ul>
                {% for archive in archives %}
                    <li><a href="{% url blogapp.views.posts_by_date archive.year,archive.month %}">{{ archive.year }} {{ archive.date|date:"F" }} ({{ archive.post_count }})</a></li>
                {% endfor %}
                </ul>
            {% endif %}

                <p style="text-align:center;"><a href="http://djangohosting.ch"><img src="http://static.armandas.lt/res/images/djangohosting.png" alt="Django Hosting"></a></p>

                <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=lt"></script>
