<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Author" content="Armandas Jarušauskas">
    <meta name="Description" content="Personal webphotolog">
    <meta name="robots" content="index, follow">
    <link rel="alternate" type="application/rss+xml" title="RSS feed, yo!" href="http://feeds.feedburner.com/armandas">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://armandas.myopenid.com/">
    {% if photo %}<style type="text/css" media="screen">@import url('css/main.css');</style>{% endif %}
    <title>{{ title }}Armando foto+blogas</title>
</head>
<body>

<div id="wrapper">

    <div id="header">
        <h1><span>Armando foto+blogas</span></h1>
    </div>
{% block content %}{% endblock %}
</div>

<div id="footer">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(cc) Armandas Jarušauskas 2007-2008</a>
</div>


</body>
</html>