{% load i18n %}
        <form method="POST" action="" id="comment_form">
            {% if comment_form.errors.generic %}
                <div id="form_error">{{ comment_form.errors.generic }}</div>
            {% endif %}
            {% for field in comment_form %}
                {% ifequal field.label "Dummy" %}
                <p class="hidden"><label>{{field.label }}<br>{{ field}}</label></p>
                {% else %}
                <p><label>{{ field.label }}{% if field.field.required %} <em>*</em>{% endif %}<br>{{ field }}</label></p>
                {% endifequal %}
            {% endfor %}
            <p><input type="submit" name="post" value="{% trans "Post comment" %}"></p>
        </form>
        <hr class="hidden">
